/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    width: 100%;
    font-family: "Bree Serif", serif;
    font-size: 1.5em;
    margin: 1em;
    line-height: 1.4;
}

#testoAlternato {
    width: 600px;
    border: 1px solid black;
    justify-content: center;
    align-content: center;
    padding: 1em;
}

#testoAlternato i {
    color: rgb(116, 145, 160);
    position: absolute;
    padding-left: 0.2em;
}

.parola1 {
    animation: textAnimation 10s linear 0s infinite;
}

.parola2 {
    opacity: 0;
    animation: textAnimation 10s linear 4s infinite;
}

.parola3 {
    opacity: 0;
    animation: textAnimation 10s linear 8s infinite;
}

@keyframes textAnimation {
    0% {
        transform: translate(0, -1000px);
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        transform: translate(0px);
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        transform: translate(0, 1000px);
        opacity: 0;
    }
}